<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<!--  required libraries-->
<div class="row p-2">
  <div class="col-4">
    <div class="card-sp">
      <h5 class="text-right text-muted mr-2 mt-1">{{centralSchemeTotal}}</h5>
      <div class="text-left text-white"><b class="ml-2">Central Schemes</b></div>
      <div class="text-left text-white mt-2"><h1 class="ml-2 text-left ml-3"><b>{{centralSchemeActive}}</b></h1></div>
      <div class="card-progress m-2" [ngClass]="getGradientClass(45, 30)"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-sp">
      <h5 class="text-right text-muted mr-2 mt-1">100</h5>
      <div class="text-left text-white"><b class="ml-2">State Schemes</b></div>
      <div class="text-left text-white mt-2"><h1 class="ml-2 text-left ml-3"><b>30</b></h1></div>
      <div class="card-progress m-2" [ngClass]="getGradientClass(100, 30)"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-sp">
      <h5 class="text-right text-muted mr-2 mt-1">100</h5>
      <div class="text-left text-white"><b class="ml-2">Active Pensioners</b></div>
      <div class="text-left text-white mt-2"><h1 class="ml-2 text-left ml-3"><b>20</b></h1></div>
      <div class="card-progress m-2" [ngClass]="getGradientClass(100, 20)"></div>
    </div>
  </div>
</div>
