<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<!--  required libraries-->


<div class="body-main-panel">
  <h2 class="text-center text-white mt-3">Update Scheme</h2>
  <div class="row">
    <div class="col-10 ml-auto mr-auto">
      <input class="inp-sp mt-3 text-center text-white"
             placeholder="Search Scheme"
             [(ngModel)]="schemeSearch"
      ><br>
    </div>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" validate>
    <div class="row mt-5 ml-5">
      <div class="col-3">
        <h5 class="text-white text-center title-sp">Title:</h5>
      </div>
      <div class="col-8">
        <input name="Title" ngModel required #titleModel="ngModel" class="inp-sp-1 text-white text-center" placeholder="{{title}}">
      </div>
      <div class="col-3">
        <h5 class="text-white text-center title-sp">Description:</h5>
      </div>
      <div class="col-8">
        <input name="Description" ngModel required #descModel="ngModel" class="inp-sp-1 text-white text-center" placeholder="{{description}}">
      </div>
      <div class="col-3">
        <h5 class="text-white text-center title-sp">Age:</h5>
      </div>
      <div class="col-8 mr-auto">
        <input name="Age" ngModel required #ageModel="ngModel" class="inp-sp-1 text-white text-center" placeholder="{{age}}">
      </div>
      <div class="col-3">
        <h5 class="text-white text-center title-sp">Card Type:</h5>
      </div>
      <div class="col-8 mr-auto">
        <input name="Card Type" ngModel required #cardTypeModel="ngModel" class="inp-sp-1 text-white text-center" placeholder="{{cardType}}">
      </div>
      <div class="col-3">
        <h5 class="text-white text-center title-sp">Region:</h5>
      </div>
      <div class="col-8 mr-auto">
        <input name="Card Type" ngModel required #regionModel="ngModel" class="inp-sp-1 text-white text-center" placeholder="{{region}}">
      </div>
      <div class="col-8 ml-0">
        <button class="btn-sp-update">Edit</button>
      </div>
    </div>
  </form>
</div>
