<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<!--  required libraries-->




<div class="main-body">
  <br>
  <div class="text-center">
    <b class="text-white text-center">{{date.getDay() | dayOfWeek}}, {{date.getDate()}}</b>
  </div>
  <h1 class="text-center text-white mb-2">{{date.getHours()}} : {{date.getMinutes()}}</h1>
  <p class="text-muted text-center">Work Time 5:40</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="text-white text-center">
    <button class="btn-sp text-dark" (click)="addModal()">Add New Scheme</button>
  </div>
</div>
