* {
  padding: 0;
  margin: 0;
}

.panel {
  height: 705px;
}

.side-panel {
  /*background-color: #3B4450;*/
}

.main-panel {
  /*background-color: #3B4450;*/
}

.nav-panel {
  /*background-color: #3B4450;*/
}

.vertical-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.main-body{
  /*background: linear-gradient(to left , black , #36404B);*/
  background: linear-gradient(-270deg , #1e2542, #333333);

}
