<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<!--  required libraries-->


<div class="nav-panel-main">
  <div class="items-container">
    <button class="nav-panel-btn text-white text-center" routerLink="/home" routerLinkActive="active">Home</button>
    <button class="nav-panel-btn text-white text-center" routerLink="/update-scheme" routerLinkActive="active">Update Scheme</button>
    <button class="nav-panel-btn text-white text-center" routerLink="/add-events" routerLinkActive="active">Add Events</button>
    <button class="nav-panel-btn text-white text-center" routerLink="/helping-hand" routerLinkActive="active">Helping Hand</button>
    <button class="nav-panel-btn text-white text-center" routerLink="/notifications" routerLinkActive="active">Notifications</button>
  </div>
</div>
