*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.graph-component{
  display: block;
  background: transparent;
  width: 80%;
  box-shadow: 0 0 8px 3px floralwhite;
  border: 1px solid floralwhite;
}


