*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.graph-component{
  display: block;
  background: transparent;
  width: 80%;
  /*border: 1px solid #6C757D;*/
  /*border-radius: 12px;*/
  /*box-shadow: 0 0 5px 2px #6C757D;*/
}


